body 
 { 
     font-family: sans-serif;
      background-image:  url('https://bit.ly/2yeMmDN');
    }
h1, h2, h3, h4{
            color:  #f70c0c;
         }
h1, h2{
     font-family: 'Georgia', serif;
      margin: 0;
     }
h1{
     border-bottom: 2px solid rgb(238, 238, 238);
 }
h2{ 
    font-size: 1.2em;
 }

p{
    color: #6ce932;
    font-size: 1.7em;
}

a{
    text-decoration: none;
    color:#eee;
    font-size: .7em;
}

.top{
    position:absolute;
    border: 2px solid;
    width: 500px;
    padding: 5px;
    margin: 5px;
}
.main {
    position:absolute;
    left: 25%;
    width: 400px;
    font-size: 1em;
}
.header{
    left:50%;
    text-align: center;
}
.name {
    width:50%;
    display: inline-block;
    float: left;
    }
.description {}
.price {
    text-align: right;
    width:50%;
    float: right;
}
.editdeletetop{
    font-size: 0.5em;
}

.flash{
     background: #52ca52;
    }
