<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='addstyle.css') }}">
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/1E570167-B8D8-774C-8F50-FEEF4491E7B2/main.js" charset="UTF-8"></script></head>
<body>
<div class = 'main'>
		<h1>{{ company.name }}</h1>
		{% with messages = get_flashed_messages() %}
      {% if messages %}  
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    {% if details !=[] %}
		<a href = "{{url_for('newArticle', company_id = company.id )}}">Create New Article</a>
		</br></br>
	 {% for i in details %}
			{% if i.type == 'belt'%}
			<h2>Belt</h2>	
				<p>{{i.name}}</p>
				<p>{{i.description}}</p>
				<p>{{i.price}}</p>
				<a href='{{url_for('editArticle', company_id = company.id, article_id=i.id ) }}'>Edit</a></br>
				<a href='{{url_for('deleteArticle', company_id = company.id, article_id=i.id ) }}'>Delete</a></br>
			{% endif %}
		</br>
			{% if i.type == 'chain' %}
			<h2>Chain</h2>
				<p>{{i.name}}</p>
				<p>{{i.description}}</p>
				<p>{{i.price}}</p>
				<a href='{{url_for('editArticle', company_id = company.id, article_id=i.id ) }}'>Edit</a></br>
				<a href='{{url_for('deleteArticle', company_id = company.id, article_id=i.id ) }}'>Delete</a>
				</br>
			{% endif %}
	</br>
	</br>
		
			{% if i.type == 'metal' %}
			<h2>Metal</h2>
				<p>{{i.name}}</p>
				<p>{{i.description}}</p>
				<p>{{i.price}}</p>
				<a href='{{url_for('editArticle', company_id = company.id, article_id=i.id ) }}'>Edit</a><br>
				<a href='{{url_for('deleteArticle', company_id = company.id, article_id=i.id ) }}'>Delete</a><br>
    </br>
			{% endif %} 
			{% if i.type == 'silver'%}
			<h2>Silver</h2>	
				<p>{{i.name}}</p>
				<p>{{i.description}}</p>
				<p>{{i.price}}</p>
				<a href='{{url_for('editArticle', company_id = company.id, article_id=i.id ) }}'>Edit</a><br>
				<a href='{{url_for('deleteArticle', company_id = company.id, article_id=i.id ) }}'>Delete</a><br>
			{% endif %}
		</br>
			{% if i.type == 'gold' %}
			<h2>Gold</h2>
				<p>{{i.name}}</p>
				<p>{{i.description}}</p>
				<p>{{i.price}}</p>
				<a href='{{url_for('editArticle', company_id = company.id, article_id=i.id ) }}'>Edit</a><br>
				<a href='{{url_for('deleteArticle', company_id = company.id, article_id=i.id ) }}'>Delete</a><br>
				</br>
			{% endif %}
	</br>
	</br>
		
			{% if i.type == 'platinum' %}
			<h2>Platinum</h2>
				<p>{{i.name}}</p>
				<p>{{i.description}}</p>
				<p>{{i.price}}</p>
				<a href='{{url_for('editArticle', company_id = company.id, article_id=i.id ) }}'>Edit</a><br>
				<a href='{{url_for('deleteArticle', company_id = company.id, article_id=i.id ) }}'>Delete</a><br>
    </br>
			{% endif %}
	{% endfor %}
	{% else %}
		<p> You currently have no article details.<p>
		<a href = "{{url_for('newArticle', company_id = company.id )}}">Create New Article</a>
	{% endif %}
</div>
	</body>
</html>