<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='addstyle.css') }}">
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/1E570167-B8D8-774C-8F50-FEEF4491E7B2/main.js" charset="UTF-8"></script></head>
<body>
<div class = 'top'>
<h1>Top Companies</h1>
  <a href="{{url_for('newCompany')}}" > <h3> Create new brand </h3> </a>
{% for company in companies %}
    <a href = "{{url_for('showArticle', company_id = company.id)}}"> <p>{{company.name}}</p></a>
    <p><a href = "{{url_for('editCompany', company_id = company.id)}}">Edit Company</a></p>
    <p> <a href = "{{url_for('deleteCompany',company_id = company.id)}}">Delete Company</a></p>
{% endfor %}
</div>
</body>
</html>