<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='addstyle.css') }}">
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/1E570167-B8D8-774C-8F50-FEEF4491E7B2/main.js" charset="UTF-8"></script></head>
<body>
<h1> Edit Company </h1>
<form action="{{ url_for('editCompany',company_id = company.id)}}" method = 'post'>
	<p>Name:</p>
		<input type ='text' size='20' name='name' placeholder = '{{company.name }}'>
<input type='submit' value='Edit'>
<a href = '{{url_for('showCompanies')}}'> Cancel </a>
</form>
</body>
</html>