<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='addstyle.css') }}">
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/1E570167-B8D8-774C-8F50-FEEF4491E7B2/main.js" charset="UTF-8"></script></head>
<body>
<h1>New Article</h1>
<form action="{{url_for('newArticle', company_id=company_id)}}" method = 'post'>
	<p>Name:</p>
		<input type ='text' size='30' name='name'>
	<p>Description:</p>
		<input type ='text' size='30' name='description'>
	<p>Price:</p>
		<input type ='text' size='30' name='price'>
	<p>type:</p>
		<input type ='radio'  name='type' value ='belt'>Belt</br>
		<input type ='radio'  name='type' value ='Chain'>Chain</br>
		<input type ='radio' name='type' value ='Metal'>Metal</br>
	</br>
<input type='submit' value='Create'>
</form>
</body>
</html>